<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="rxRoute" class="ru.thprom.mrp.md.RxRouteBuilder">
        <property name="fileStore" ref="fileStore"/>
    </bean>
    <bean id="fileStore" class="ru.thprom.mrp.md.FileStore">
        <property name="storeRoot" value="/tmp/mdstore"/>
    </bean>

    <!-- Transacted ActiveMQ -->
    <bean id="jmsConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory" lazy-init="false">
        <property name="brokerURL" value="tcp://localhost:61616?jms.redeliveryPolicy.maximumRedeliveries=1&amp;jms.prefetchPolicy.all=10" />
    </bean>
    <bean id="jmsTransactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
        <property name="connectionFactory" ref="jmsConnectionFactory"/>
    </bean>
    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="connectionFactory" ref="jmsConnectionFactory" />
        <property name="transacted" value="true"/>
        <property name="transactionManager" ref="jmsTransactionManager"/>
        <property name="cacheLevel" value="1"/>
    </bean>
    <!-- /Transacted ActiveMQ -->

    <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="rxRoute"/>

        <route id="r1">
            <from uri="activemq:inbound.00"/>
            <to  uri="direct:start"/>
        </route>
        <route id="r2">
            <from uri="direct:end"/>
            <to uri="activemq:result"/>
        </route>
    </camelContext>


</beans>